.profile{
    max-width: 600px;
    margin: 10px auto;
}

.profile-frame{
    display: flex;
    justify-content: space-evenly;
}
.profile-pic{
    height: fit-content;
}
.profile-pic >img{
    width: 160px;
    height: 160px;
    object-fit: contain;
    border-radius: 100px;
}
.profile-data{
    text-align: left;

}
.profile-info p{
    padding: 0px 5px ;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.gallery img{
  width: 30%;
  margin: 10px ;
}

.material-symbols-outlined-red {
    color: red;
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined{
    cursor: pointer;
}
.followbtn{
    cursor: pointer;
    font-weight: bolder;
    padding: 13px 25px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #0115eb;
    border-radius: 15px;
    margin-left: 20px;
    transition: all 0.25s ease;
}
.followbtn:hover{
    translate: translateY(-5px);
    box-shadow: 0 10px 20px -10px, #0115eb;
}
.changepic{
    background-color: #fff;
    border-radius: 20px;
}
.changepic div{
    padding:15px 80px;
}
.upload-btn{
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bolder;
    font-size:15px;
}